@charset "UTF-8";
/* CSS Document */

body {
    background-image: url(../assets/jeremy-bishop-171845-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#container {
    background-color: hsla(0,0%,100%,0.43);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#hp-banner {
	font-family: josefin-slab;
	font-style: normal;
	font-weight: 600;
	background-color: hsla(0,0%,100%,0.36);
	float: left;
	height: 250px;
	width: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 89px;
	color: hsla(0,0%,100%,1.00);
	text-transform: uppercase;
	padding-top: 150px;
	border-radius: 20px;
}
#hp-about {
	font-family: josefin-slab;
	font-style: normal;
	font-weight: 600;
	background-color: hsla(0,0%,100%,0.70);
	float: left;
	height: 100px;
	width: 495px;
	margin-right: 5px;
	margin-top: 10px;
	color: #5D576B;
	font-size: 40px;
	text-align: center;
	padding-top: 60px;
	text-transform: uppercase;
	border-radius: 20px;
}
#hp-portfolio {
	font-family: josefin-slab;
	font-style: normal;
	font-weight: 600;
	background-color: hsla(0,0%,99%,0.70);
	float: left;
	height: 100px;
	width: 495px;
	margin-left: 5px;
	margin-top: 10px;
	padding-top: 60px;
	color: #5D576B;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 20px;
}
#footer {
	font-family: josefin-slab;
	font-style: normal;
	font-weight: 100;
	height: auto;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	color: #FFFFFF;
	text-align: center;
}
